
@import './shared/fonts';

//Components
@import './Components/Header';

// Pages
@import './index';

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica' !important;
}

.clickable {
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.base-page{
padding-top: 150px;
color: white;
}
.self-typed {
  font-size: 31px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}
